body {
    font-size: 16px;
    color: aliceblue;
    background-color: rgb(51, 30, 30);
    font-family: 'Oxygen', sans-serif;
}
#header-nav {
    background-color: whitesmoke;
    border-radius: 0;
    border: 0;
}
#logo-img {
    background: url(C:\Users\laaji\OneDrive\Bureau\restaurant\Restaurant-website\images/logo.jpg) no-repeat;
    width: 150px;
    height: 100px;
    margin: 10px 15px 10px 0;
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1{
    font-family: ;
    color: tomato;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}*/
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: 7em;
    margin-top: 15px;
    
}